script
	$(document).ready(function(){
		// Add offers on the page
		AddOffers(!{JSON.stringify(offers)});

		// Bind tooltip to info-icons
		$(".infoImg").qtip(
			{
				content: {
					text: "This is static content inside the qTip tooltip box",
					title: {text: "Tooltip header"}
				},
				show: {
					when: {event: "mouseover"},
					effect: "fade"
				},
				hide: "mouseout",
				type: "slide",
				position: {
					corner:{
						target: "leftMiddle",
						tooltip: "rightMiddle"						
					}
				},
				title: {
					text: "Offer_title"
				},
				style:{
					name:"dark",
					padding: 5,
					tip: {
						corner: "rightMiddle",
						size:{
							x:50,
							y:10
						}
					},
					border: {
						radius: 5,
						width: 3
					}
				}
			}
		);
	});

div#offerContainer
